html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 99;
}

#header #home {
    margin: 0;
    float: left;
}

#header #nav {
    float: right;
}

#header #nav > div {
    float: right;
    margin-left: 1em;
}

#main {
    padding-top: 3em;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    z-index: 1;
}

#main .page {
    position: absolute;
    width: 100%;
}

#main .page .content {
    max-width: 80%;
}

.project {
    width: 25em;
    height: 25em;
    overflow: hidden;
    background-size: contain;
    background: no-repeat center;
}

.project-description {
    background: rgba(177, 177, 177, .75);
    width: 23em;
    height: 23em;
    padding: 1em;
    overflow: auto;
}