<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LLTNF</title>
    <meta name="LLTNF" content="Long live the new flesh: Afstudeer pagina voor Kunst academie">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/transitions.css">
    <script src="js/Array.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<div id="application">
    <div class="header top">
        <div class="home pointer" v-on:click="page = 'home'">
            LLTNF
        </div>
        <div class="nav">
            <div class="pointer" v-on:click="page = 'people'">
                Graduates
            </div>
            <div class="pointer" v-on:click="page = 'merchandise'">
                Merchandise
            </div>
        </div>
    </div>
    <div class="header bottom">
        <div class="home">
            LLTNF
        </div>
        <div class="nav">
            <div>
                Graduates
            </div>
            <div>
                Merchandise
            </div>
        </div>
    </div>
    <div id="main">
        <p class="error">
            {{ error.home }}
        </p>
        <p class="error">
            {{ error.people }}
        </p>
        <p class="error">
            {{ error.merchandise }}
        </p>
        <transition name="slide">
            <div v-if="page == 'home'" key="home" class="page">
                <div class="video-container">
                    <video id="home-video" autoplay loop>
                        <source src="data/master.mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p class="home-text" v-html="home.text"></p>
                    <div class="bottom-container">
                        <div class="donate">
                            <a href="https://www.voordekunst.nl/projecten/6868-long-live-the-new-flesh" target="_blank"><h1>Doneer nu!</h1></a>
                        </div>
                        <a class="image-link-container" href="https://github.com/svanschooten/lltnf" target="_blank">
                            <img src="images/Github.png" class="image-link">
                        </a>
                        <a class="image-link-container" href="https://facebook.com" target="_blank">
                            <img src="images/Facebook.png" class="image-link">
                        </a>
                        <a class="image-link-container" href="https://instagram.com" target="_blank">
                            <img src="images/Instagram.png" class="image-link">
                        </a>
                    </div>
                </div>
            </div>
            <div v-if="page == 'merchandise'" key="merchandise" class="page">
                <div class="content merchandise">
                    <div v-for="m in merchandise" v-bind:key="m.id" class="merch">
                        <img class="merchandise-image" v-bind:src="m.image" />
                        <div class="merchandise-info">
                            <h2>{{ m.name }}</h2>
                            <p>{{ m.description }}</p>
                            <a v-bind:href="m.link" target="_blank"><p>€{{ m.price }}</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="page == 'people'" key="people" class="page">
                <div class="content people">
                    <div v-for="p in people" v-bind:key="p.id" class="person">
                        <img class="avatar" v-bind:src="p.image" />
                        <div class="personal-info">
                            <h2>{{ p.name }}</h2>
                            <p>{{ p.description }}</p>
                            <a v-bind:href="p.website" target="_blank">{{ p.website }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>