<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LLTNF</title>
    <meta name="LLTNF" content="Long live the new flesh: Afstudeer pagina voor Kunst academie">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/transitions.css">
    <link rel="stylesheet" href="css/lightbox.min.css">
    <script src="js/Array.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<div id="application">
    <div id="header">
        <h1 id="home" class="pointer" v-on:click="page = 'home'">LLTNF</h1>
        <div id="nav">
            <div class="pointer">
                FB
            </div>
            <div class="pointer">
                LinkedIn
            </div>
            <div class="pointer" v-on:click="page = 'people'">
                Afstudeerders
            </div>
        </div>
    </div>
    <div id="main">
        <p class="error">
            {{ error.projects }}
        </p>
        <p class="error">
            {{ error.people }}
        </p>
        <transition name="slide">
            <div v-if="page == 'home'" key="home" class="page">
                <div class="video-container">
                    <video id="home-video" autoplay loop>
                        <source src="data/master.mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!--<div class="content">-->
                    <!--<transition-group name="fade" tag="div">-->
                        <!--<div v-for="p in projects" v-bind:key="p.id"-->
                             <!--class="project pointer" v-on:click="navToProject(p)"-->
                             <!--v-on:mouseenter="p.hover = true" v-on:mouseleave="p.hover = false"-->
                             <!--v-bind:style="{-->
                                <!--backgroundImage: p.image,-->
                                <!--top: p.top,-->
                                <!--left: p.left,-->
                                <!--zIndex: p.hover ? 88 : 10-->
                                <!--}"-->
                        <!--&gt;-->
                            <!--<transition name="fade">-->
                                <!--<div class="project-description" v-if="p.hover">-->
                                    <!--<h3> {{ p.title }} </h3>-->
                                    <!--<p> {{ p.description }} </p>-->
                                <!--</div>-->
                            <!--</transition>-->
                        <!--</div>-->
                    <!--</transition-group>-->
                <!--</div>-->
            </div>
            <div v-if="page == 'people'" key="people" class="page">
                <div class="content people">
                    <div v-for="p in people" v-bind:key="p.id" class="person">
                        <div class="avatar" v-bind:style="{
                            backgroundImage: p.image
                            }"
                        ></div>
                        <div class="personal-info">
                            <h2>{{ p.name }}</h2>
                            <p>{{ p.description }}</p>
                            <a v-bind:href="p.website" target="_blank">{{ p.website }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="page == 'project'" key="project" class="page">
                <div class="content">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.text }}</p>
                    <div class="images">
                        <a v-for="image in project.images" v-bind:key="image"
                           v-bind:href="image" v-bind:data-lightbox="project.id" v-bind:data-title="project.title">
                            <img v-bind:src="image"/>
                        </a>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</div>
<script src="js/lightbox.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>